@charset "utf-8";
/* grid system */
:root {
    font-size: 65.2;
}
.inner {
    width: 1100px;
}
.l-grid-1-12 { width: 8.33333333%; }
     .l-grid-2-12 { width: 16.66666667%; }
     .l-grid-3-12 { width: 25%; }
     .l-grid-4-12 { width: 33.33333333%; }
     .l-grid-5-12 { width: 41.66666667%; }
     .l-grid-6-12 { width: 50%; }
     .l-grid-7-12 { width: 58.33333333%; }
     .l-grid-8-12 { width: 66.66666667%; }
     .l-grid-9-12 { width: 75%; }
     .l-grid-10-12 { width: 83.33333333%; }
     .l-grid-11-12 { width: 91.66666667%; }
     .l-grid-12-12 { width: 100%;}

     .sw-item {
         max-width: 1100px;
     } 
      .grid-item
     {  width: 25%;
         float: left;
     }
     .cover {
         padding-top: 50%;
         position: relative;
         margin: 0.5rem;
     }
     .cover img {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         width: 100%;
         height: 100%;
     }